:root {
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);
}

body {
  background-color: aliceblue;
  font-family: "Rubik", sans-serif;
}

.currentUser-sign {
  background-color: var(--Moderate-blue);
  padding: 3px 5px;
  color: #fff;
}
.comment,
.reply {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  border-radius: 5px;
}

#replies {
  position: relative;
}

#replies::before {
  content: "";
  position: absolute;
  right: 95%;
  width: 2px;
  height: 100%;
  background-color: var(--Light-grayish-blue);
}

.reply {
  width: 90%;
  margin-left: auto;
}

/* left side */
.left-side {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  height: fit-content;
  padding: 5px;
  min-width: 30px;
  border-radius: 5px;
  color: #aaa;
}

.left-side .score {
  color: var(--Moderate-blue);
  font-weight: 500;
}

/* right side */
.right-side {
  flex-basis: 100%;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.user-name {
  font-weight: 500;
}

.user .created-at,
.content {
  color: rgb(116, 116, 116);
}

.user .reply-btn {
  margin-left: auto;
  background-color: transparent;
  color: var(--Moderate-blue);
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
}

.user .reply-btn i {
  font-size: small;
}

.replying-to {
  color: var(--Moderate-blue);
}

img {
  width: 2rem;
  height: 2rem;
}

/* create comment */
#create-comment {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  height: 120px;
  position: sticky;
  bottom: 1rem;
}

#create-comment textarea {
  width: 75%;
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  resize: none;
}

@media (max-width: 768px) {
  #create-comment textarea {
    width: 70%;
  }
}

#create-comment button {
  width: 90px;
  height: 40px;
  color: #fff;
  background-color: var(--Moderate-blue);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

#create-comment::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 1rem;
  width: 100%;
  background-color: aliceblue;
}
